.wrapper {
    background: linear-gradient(180deg, #517ff6 0%, #253663 100%);
    min-height: 100vh;

    font-family: Jost;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.todo {
    background: rgba(255, 255, 255, 0.5);

    margin-top: 50px;
    padding: 50px;

    position: relative;

    border-radius: 30px;

    &-title {
        margin-bottom: 40px;

        text-align: center;
        font-family: Jost;
        color: #fff;
        font-size: 40px;
        font-weight: 700;
    }

    &-header {
        display: flex;
        justify-content: space-between;

        margin-bottom: 50px;
    }

    &-add__button {
        padding: 15px 140px;

        cursor: pointer;

        color: #000;
        font-family: Jost;
        font-size: 24px;
        font-weight: 400;

        transition: 0.5s;
        background: rgba(255, 255, 255, 0.75);

        border: none;
        border-radius: 20px;

        &:hover {
            background: #517ff6;
            color: #fff;
        }
    }

    &-sort {
        display: flex;
        justify-content: space-between;

        &__button {
            padding: 15px 0px;
            margin-left: 20px;

            width: 180px;

            cursor: pointer;

            background: rgba(255, 255, 255, 0.75);
            transition: 0.3s;

            border: none;
            border-radius: 20px;

            color: #000;
            font-family: Jost;
            font-size: 24px;
            font-weight: 400;

            &:hover {
                color: #fff;
                background: #517ff6;
            }
        }

        &__selected {
            color: #fff;

            background: #517ff6;
        }
    }
}

.tasks {
    padding: 30px;

    height: 460px;

    overflow: auto;

    background: #fff;

    border-radius: 20px;

    &__header {
        display: flex;
        justify-content: space-around;
        position: sticky;
        top: -30px;
        background: #fff;

        margin-bottom: 20px;
    }

    &-title {
        color: #000;
        font-family: Jost;
        font-size: 24px;
        font-weight: 400;
        text-align: center;

        &:nth-child(1) {
            width: 85px;
        }

        &:nth-child(2) {
            width: 220px;
        }

        &:nth-child(3) {
            width: 120px;
        }

        &:nth-child(4) {
            width: 120px;
        }

        &:nth-child(5) {
            width: 110px;
        }

        &:nth-child(6) {
            width: 110px;
        }
    }

    &-edit {
        padding: 0 13px;
    }

    &__no-found {
        color: #000;
        font-family: Jost;
        font-size: 24px;
        font-weight: 400;
    }
}

.item {
    display: flex;
    justify-content: space-around;

    padding-top: 5px;
    margin-bottom: 20px;

    border-top: 1px solid gray;

    &-task {
        width: 85px;
    }

    &-description {
        width: 220px;
    }

    &-category {
        width: 120px;
        text-align: center;
    }

    &-when {
        width: 120px;
        text-align: center;
    }

    &-priority {
        width: 110px;
        text-align: center;
    }

    &-fulfillment {
        width: 110px;
        text-align: center;
    }

    &-img {

        & img:first-child {
        }
        & img {
            transition: 0.2s;
            width: 28px;

            &:hover {
                background: #517ff6;
            }
        }
    }
}

.complete {
    background: greenyellow;
}

.now-time {
    position: absolute;
    top: 50px;
    left: 60px;

    color: #fff;
    font-family: Jost;
    font-size: 35px;
    font-weight: 600;
}

.hide {
    display: none;
}

.drag {

    &-selected {
        opacity: 0.6;
    }
}
